/*
    https://colorhunt.co/palette/162790
*/

/* Main Elements of the HTML page */
*{
  overflow: hidden;
  box-sizing: border-box;
}
body, html{
  background-color: #000;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #eee;
  text-align: center;
}


.daemon body{
    margin:auto ;
    overflow: hidden;
}

.daemon #canvas{
    background-color: #00918e;
}
canvas{
  touch-action: none;
  display: none;
  cursor: none;
  z-index: 1;
}

/* Start Menu */
.start-wrapper{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.game-title{
  font-size: 3rem;
}
.blink{
  animation: blinker 1s linear infinite;
  padding: 5rem;
  font-size: 3rem;
}
@keyframes blinker {
  50% {
    opacity: 0%;
  }
}
